.lessonsContainer {
    position: relative;
    background-color: #eef1ef;
    padding: 10px;
  }
  
  .buttonContainer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .buttonContainer button {
    margin-top: 0.5rem;
    width: 164px;
    height: 48px;
    font-size: 16px;
  }
  