.rooms-container {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-top: 5%;
    height: 100%;
}

.rooms-container h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 16px;
}

.rooms-container select {
    color: gray;
    width: 424px;
    height: 56px;
    margin-bottom: 12px;
}

.rooms-container option {
    padding: 4px;
}

.select-container {
    display: inline-block;
    align-items: center;
    width: '100%';
    justify-content: left;
}